@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  line-height: 1.1;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heroicons .MUI_root {
  font-size: 500px !important;
}



button {
  font-family: 'Dosis', sans-serif;
 
}

@font-face {
  font-family: "SF Compact Text"; 
  src: url("//db.onlinewebfonts.com/t/1e8a3c6b4719703b200378c73c3bf6e4.eot"); 
  src: url("//db.onlinewebfonts.com/t/1e8a3c6b4719703b200378c73c3bf6e4.eot?#iefix") 
  format("embedded-opentype"),
   url("//db.onlinewebfonts.com/t/1e8a3c6b4719703b200378c73c3bf6e4.woff2") 
   format("woff2"), url("//db.onlinewebfonts.com/t/1e8a3c6b4719703b200378c73c3bf6e4.woff") 
   format("woff"), url("//db.onlinewebfonts.com/t/1e8a3c6b4719703b200378c73c3bf6e4.ttf") 
   format("truetype"), url("//db.onlinewebfonts.com/t/1e8a3c6b4719703b200378c73c3bf6e4.svg#SF Compact Text") 
   format("svg"); 
  }

  @font-face {font-family: "COMPACT"; 
    src: url("//db.onlinewebfonts.com/t/3064b12d42421f398f51570979a20f43.eot"); 
    src: url("//db.onlinewebfonts.com/t/3064b12d42421f398f51570979a20f43.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/3064b12d42421f398f51570979a20f43.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/3064b12d42421f398f51570979a20f43.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/3064b12d42421f398f51570979a20f43.ttf") 
    format("truetype"),
     url("//db.onlinewebfonts.com/t/3064b12d42421f398f51570979a20f43.svg#COMPACT") format("svg"); }