/* 
@font-face {
  font-family: SF Compact Rounded Bold;
  src: url('../public/fonts/FontsFree-Net-SF-Compact-Rounded-Bold.ttf');
   format: ("ttf");
   font-display: Swap;
} */
/* 
@font-face {
  font-family: SF Compact Rounded Regular;
  src: url('../public/fonts/FontsFree-Net-SF-Compact-Rounded-Regular.ttf');
   format: ("ttf");
   font-display: regular;
}

@font-face {
  font-family: SF Compact Rounded Light;
  src: url('../public/fonts/FontsFree-Net-SF-Compact-Rounded-Light.ttf');
   format: ("ttf");
   font-display: light;
}

@font-face {
  font-family: SF Compact Rounded Medium;
  src: url('../public/fonts/FontsFree-Net-SF-Compact-Rounded-Medium.ttf');
   format: ("ttf");
   font-display: medium;
}

@font-face {
  font-family: SF Compact Rounded SemiBold;
  src: url('../public/fonts/FontsFree-Net-SF-Compact-Rounded-SemiBold.ttf');
   format: ("ttf");
   font-display: semi-bold;
}

@font-face {
  font-family: SF Compact Rounded Thin;
  src: url('../public/fonts/FontsFree-Net-SF-Compact-Rounded-Thin.ttf');
   format: ("ttf");
   font-display: thin;
}

@font-face {
  font-family: SF Compact Rounded UltraLight;
  src: url('../public/fonts/FontsFree-Net-SF-Compact-Rounded-UltraLight.ttf');
   format: ("ttf");
   font-display: ultra-light;
}

@font-face {
  font-family: SF Pro Text;
  src: url('../public/fonts/FontsFree-Net-SFProText-Heavy-1.ttf');
   format: ("ttf");
   font-display: Bold;
}

@font-face {
  font-family: SFProTextLight;
  src: url('../public/fonts/FontsFree-Net-SFProText-Light-1.ttf');
   format: ("ttf");
   font-display: 200;
}
 */
